@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue-rgb: 237 245 255;
    --green-rgb: 125 161 35;
}

body {
    font-family: 'Work Sans', sans-serif;
}

body:has(.card[data-color='blue']:hover) {
    background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color='green']:hover) {
    background-color: rgb(var(--green-rgb) / 25%);
}

@layer utilities {

}
